[user]
  name = Wiktor Czajkowski
  email = wiktor.czajkowski@gmail.com
[pull]
  rebase = true
  default = simple
[push]
  default = simple
[core]
	pager = less -+F
	excludesfile = /Users/wiktor/.gitignore
