[user]
  name = Wiktor Czajkowski
  email = wiktor.czajkowski@gmail.com
[pull]
  rebase = true
  default = simple
[push]
  default = simple
[core]
  pager = less -+F
  excludesfile = "$HOME"/.gitignore
[merge]
	conflictstyle = diff3
[alias]
  gone = "!git fetch -p; git branch -vv | ag ': gone]' | cut -d ' ' -f 3"
  prune-gone = "!git fetch -p; git branch -vv | ag ': gone]' | cut -d ' ' -f 3 | xargs git branch -d"
