[user]
  name = Wiktor Czajkowski
  email = wiktor.czajkowski@gmail.com
[pull]
  rebase = true
  default = simple
[push]
  default = simple
[core]
  pager = less -+F
  excludesfile = "$HOME"/.gitignore
[merge]
  conflictstyle = diff3
[gpg]
	program = gpg
[commit]
	gpgsign = true
