[user]
  name = Wiktor Czajkowski
  email = wiktor.czajkowski@gmail.com
	signingkey = 4CD55D45FDECAC92
[pull]
  rebase = true
  default = simple
[push]
  default = simple
[core]
  pager = less -+F
  excludesfile = "$HOME"/.gitignore
	editor = vim
[merge]
  conflictstyle = diff3
[gpg]
	program = gpg
