[user]
  name = Wiktor Czajkowski
  email = wiktor.czajkowski@gmail.com
	signingkey = 4CD55D45FDECAC92
[pull]
  rebase = true
  default = simple
[push]
  default = simple
[interactive]
	diffFilter = delta --color-only
[core]
	pager = delta --paging always --file-color bright-green --hunk-color bright-blue
  excludesfile = "$HOME"/.gitignore
[merge]
  conflictstyle = diff3
[gpg]
	program = gpg
